<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="user">
	<select id="selectOneMember" resultType="user" >
		select * from YAP_USER
		where USER_EMAIL = #{memberId}
		and user_yn = 'Y'
	</select>
	
	<select id="selectMemberList" resultType="user">
		select *
		from YAP_USER
		where user_yn = 'Y'
		order by user_enrolldate
	</select>
	
	<select id="selectMemberTotal" resultType="int">
		select count( * ) from YAP_USER
		where user_yn = 'Y'
	</select>
	
	<insert id="insertMember" >
		insert into YAP_USER
		values
		( #{userEmail},
		  #{userNickname},
		  1,
		  #{ userActivationKey },
		  #{userPassword},
		  sysdate,
		  null,
		  null,
		  'Y' )
	</insert>
	
	<update id="updateMember">
		update YAP_USER 
		<trim prefix="set" suffixOverrides=",">
		<if test="userNickname != null and userNickname !=''">
		USER_NICKNAME = #{userNickname},
		</if>
		<if test="userActivationKey != null and userActivationKey !=''">
		USER_ACTIVATION_KEY = #{ userActivationKey },
		</if>
		<if test="userPassword != null and userPassword !=''">
		USER_PASSWORD = #{userPassword},
		</if>
		<if test="userYn != null and userYn !=''">
		user_yn = #{userYn},
		</if>
		</trim>
		WHERE USER_EMAIL = #{userEmail}
	</update>
</mapper>