<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="matchList">
	<select id="gameMatchId" resultMap="MatchVo">
			select * from match where gameid between 1 and 100
	</select>

	<resultMap type="matchvo" id="matchList">
		<id column = "gameid" property = "gameId"/>
	</resultMap>
	
</mapper>