<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
  <settings>
  	<setting name="jdbcTypeForNull" value="NULL"/>
  	<setting name="mapUnderscoreToCamelCase" value="true"/>
  </settings>
  <typeAliases>
  	<typeAlias type="com.kh.yapx3.stat.model.vo.MatchString" alias="matchString"/>
  		<typeAlias type = "com.kh.yapx3.item.model.vo.ItemVO" alias="itemvo"/>
  		<typeAlias type = "com.kh.yapx3.champion.model.vo.ChampionInfoVO" alias="Info"/>
	<typeAlias type = "com.kh.yapx3.item.model.vo.Test" alias="test"/>
  </typeAliases>
</configuration>