<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
  <settings>
  	<setting name="jdbcTypeForNull" value="NULL"/>
  	<setting name="mapUnderscoreToCamelCase" value="true"/>
  </settings>
  <typeAliases>
  	<typeAlias type="com.kh.yapx3.user.model.vo.Member" 
  			   alias="user"/>
	<typeAlias type="com.kh.yapx3.user.model.vo.Message" 
  			   alias="message"/>
  	<typeAlias type="com.kh.yapx3.stat.model.vo.MatchString"
  			   alias="matchString"/>
  	<typeAlias type="com.kh.yapx3.stat.model.vo.ChampStat"
  			   alias="ChampStat"/>
  	<typeAlias type="com.kh.yapx3.board.free.model.vo.FreeVO"
  			   alias="FreeVO"/>
  	<typeAlias type="com.kh.yapx3.board.free.model.vo.FreeAttachment"
  			   alias="FreeAttachment"/>
  	<typeAlias type="com.kh.yapx3.board.free.model.vo.FreeWithFileCount"
  			   alias="FreeWithFileCount"/>
	<typeAlias type="com.kh.yapx3.board.free.model.vo.Free"
			   alias="Free"/>
	<typeAlias type="com.kh.yapx3.board.free.model.vo.FreeComment"
			   alias="FreeComment"/>
  </typeAliases>
</configuration>