<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
  <settings>
  	<setting name="jdbcTypeForNull" value="NULL"/>
  	<setting name="mapUnderscoreToCamelCase" value="true"/>
  </settings>
  <typeAliases>

  	<typeAlias type = "com.kh.yapx3.item.model.vo.ItemVO" alias="itemvo"/>
  	<typeAlias type = "com.kh.yapx3.champion.model.vo.ChampionInfoVO" alias="Info"/>
	<typeAlias type = "com.kh.yapx3.item.model.vo.Test" alias="test"/>
	<typeAlias type = "com.kh.yapx3.champion.model.vo.ChampionTipBoardVO" alias="championTip"/>

  	<typeAlias type="com.kh.yapx3.user.model.vo.Member" 
  			   alias="user"/>
    <typeAlias type="com.kh.yapx3.board.summonerJobs.model.vo.summonerJobsChatRoom" 
 			   alias="summonerjobschatroom"/>
	<typeAlias type="com.kh.yapx3.user.model.vo.Message" 
  			   alias="message"/>
  	<typeAlias type="com.kh.yapx3.stat.model.vo.MatchString"
  			   alias="matchString"/>
  	<typeAlias type="com.kh.yapx3.stat.model.vo.ChampStat"
  			   alias="ChampStat"/>
  	<typeAlias type="com.kh.yapx3.board.free.model.vo.FreeVO"
  			   alias="FreeVO"/>
  	<typeAlias type="com.kh.yapx3.board.free.model.vo.FreeAttachment"
  			   alias="FreeAttachment"/>
  	<typeAlias type="com.kh.yapx3.board.free.model.vo.FreeWithFileCount"
  			   alias="FreeWithFileCount"/>
	<typeAlias type="com.kh.yapx3.board.free.model.vo.Free"
			   alias="Free"/>
	<typeAlias type="com.kh.yapx3.board.free.model.vo.FreeComment"
			   alias="FreeComment"/>
  	<typeAlias type="com.kh.yapx3.board.tip.model.vo.TipVO"
  			   alias="TipVO"/>
  	<typeAlias type="com.kh.yapx3.board.tip.model.vo.TipAttachment"
  			   alias="TipAttachment"/>
  	<typeAlias type="com.kh.yapx3.board.tip.model.vo.TipWithFileCount"
  			   alias="TipWithFileCount"/>
	<typeAlias type="com.kh.yapx3.board.tip.model.vo.Tip"
			   alias="Tip"/>
	<typeAlias type="com.kh.yapx3.board.tip.model.vo.TipComment"
			   alias="TipComment"/>
	<typeAlias type="com.kh.yapx3.board.gontip.model.vo.Gontip"
			   alias="Gontip"/>
	<typeAlias type="com.kh.yapx3.board.gontip.model.vo.GontipComment"
			   alias="GontipComment"/>

  </typeAliases>
</configuration>