<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="champion">
	<insert id="champInsert" parameterType="java.util.Map">
		<foreach collection="map" item="item" separator=" , ">
		insert into (champion_no, champion_name) values (#{item.championKey}, #{item.championName})
		</foreach>
	</insert>
	<select id="championCount" resultType="java.lang.Integer">
		select count(*) from participantall where championid = #{id}
	</select>
	<select id="championWin" resultType="java.lang.Integer">
		select count(*) from participantall where championid = #{id} and win = 'true'
	</select>
	<select id="championLineTop" resultType="java.lang.Integer">
		select count(*) from participantall where championid = #{id} and lane = 'TOP'
	</select>
	<select id="championLineBottom" resultType="java.lang.Integer">
		select count(*) from participantall where championid = #{id} and lane = 'BOTTOM'
	</select>
</mapper>