<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="champion">
	<insert id="championTipInsert" parameterType="com.kh.yapx3.champion.model.vo.ChampionTipBoardVO" >
		insert into champion_tip(champtip_no, champion_no, user_email, user_nickname, champtip_content, champtip_date, champtip_like, champtip_likelist)
		values(champion_tip_seq.nextval, #{championNo}, #{userNickName}||'.naver.com', #{userNickName}, #{champTipContent}, default, default, default )
	</insert>
	<select id="championTipList" resultMap = "tipVO">
		select * from champion_tip where champion_no = ${value}
	</select>
	
	<resultMap type="championTip" id="tipVO">
		<id column="champtip_no" property="champTipNo"/>
		<result column="champion_no" property="championNo"/>
		<result column="user_email" property="userEmail"/>
		<result column="user_nickname" property="userNickName"/>
		<result column="champtip_content" property="champTipContent"/>
		<result column="champtip_date" property="champTipDate"/>
		<result column="champtip_like" property="champTipLike"/>
		<result column="champtip_likelist" property="champTipLikeList"/>
	</resultMap>
</mapper>
